@font-face {
  font-family: "HyundaiSansHead-Bold";
  src: url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansHead-Bold.eot");
  src: url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansHead-Bold.eot?#iefix") format("embedded-opentype"),
    url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansHead-Bold.woff2") format("woff2"),
    url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansHead-Bold.woff") format("woff"),
    url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansHead-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HyundaiSansHead-Light";
  src: url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansHead-Light.eot");
  src: url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansHead-Light.eot?#iefix") format("embedded-opentype"),
    url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansHead-Light.woff2") format("woff2"),
    url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansHead-Light.woff") format("woff"),
    url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansHead-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HyundaiSansHead-Medium";
  src: url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansHead-Medium.eot");
  src: url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansHead-Medium.eot?#iefix") format("embedded-opentype"),
    url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansHead-Medium.woff2") format("woff2"),
    url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansHead-Medium.woff") format("woff"),
    url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansHead-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HyundaiSansHead-Regular";
  src: url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansHead-Regular.eot");
  src: url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansHead-Regular.eot?#iefix") format("embedded-opentype"),
    url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansHead-Regular.woff2") format("woff2"),
    url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansHead-Regular.woff") format("woff"),
    url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansHead-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HyundaiSansText-Bold";
  src: url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansText-Bold.eot");
  src: url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansText-Bold.eot?#iefix") format("embedded-opentype"),
    url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansText-Bold.woff2") format("woff2"),
    url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansText-Bold.woff") format("woff"),
    url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansText-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HyundaiSansText-BoldItalic";
  src: url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansText-BoldItalic.eot");
  src: url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansText-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansText-BoldItalic.woff2") format("woff2"),
    url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansText-BoldItalic.woff") format("woff"),
    url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansText-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HyundaiSansText-Italic";
  src: url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansText-Italic.eot");
  src: url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansText-Italic.eot?#iefix") format("embedded-opentype"),
    url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansText-Italic.woff2") format("woff2"),
    url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansText-Italic.woff") format("woff"),
    url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansText-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HyundaiSansText-Medium";
  src: url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansText-Medium.eot");
  src: url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansText-Medium.eot?#iefix") format("embedded-opentype"),
    url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansText-Medium.woff2") format("woff2"),
    url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansText-Medium.woff") format("woff"),
    url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansText-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HyundaiSansText-MediumItalic";
  src: url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansText-MediumItalic.eot");
  src: url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansText-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansText-MediumItalic.woff2") format("woff2"),
    url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansText-MediumItalic.woff") format("woff"),
    url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansText-MediumItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HyundaiSansText-Regular";
  src: url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansText-Regular.eot");
  src: url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansText-Regular.eot?#iefix") format("embedded-opentype"),
    url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansText-Regular.woff2") format("woff2"),
    url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansText-Regular.woff") format("woff"),
    url("https://raw.githubusercontent.com/innoceancrm/fonts/main/HyundaiSansText-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* update */
