@font-face {
    font-family: "HyundaiSansHead-Bold";
    src: url("HyundaiSansHead-Bold.eot");
    src: url("HyundaiSansHead-Bold.eot?#iefix") format("embedded-opentype"),
    url("HyundaiSansHead-Bold.woff2") format("woff2"),
    url("HyundaiSansHead-Bold.woff") format("woff"),
    url("HyundaiSansHead-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HyundaiSansHead-Light";
    src: url("HyundaiSansHead-Light.eot");
    src: url("HyundaiSansHead-Light.eot?#iefix") format("embedded-opentype"),
    url("HyundaiSansHead-Light.woff2") format("woff2"),
    url("HyundaiSansHead-Light.woff") format("woff"),
    url("HyundaiSansHead-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    }

    @font-face {
        font-family: "HyundaiSansHead-Medium";
        src: url("HyundaiSansHead-Medium.eot");
        src: url("HyundaiSansHead-Medium.eot?#iefix") format("embedded-opentype"),
        url("HyundaiSansHead-Medium.woff2") format("woff2"),
        url("HyundaiSansHead-Medium.woff") format("woff"),
        url("HyundaiSansHead-Medium.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
        }

        @font-face {
            font-family: "HyundaiSansHead-Regular";
            src: url("HyundaiSansHead-Regular.eot");
            src: url("HyundaiSansHead-Regular.eot?#iefix") format("embedded-opentype"),
            url("HyundaiSansHead-Regular.woff2") format("woff2"),
            url("HyundaiSansHead-Regular.woff") format("woff"),
            url("HyundaiSansHead-Regular.ttf") format("truetype");
            font-weight: normal;
            font-style: normal;
            }


            @font-face {
                font-family: "HyundaiSansText-Bold";
                src: url("HyundaiSansText-Bold.eot");
                src: url("HyundaiSansText-Bold.eot?#iefix") format("embedded-opentype"),
                url("HyundaiSansText-Bold.woff2") format("woff2"),
                url("HyundaiSansText-Bold.woff") format("woff"),
                url("HyundaiSansText-Bold.ttf") format("truetype");
                font-weight: normal;
                font-style: normal;
                }


                @font-face {
                    font-family: "HyundaiSansText-BoldItalic";
                    src: url("HyundaiSansText-BoldItalic.eot");
                    src: url("HyundaiSansText-BoldItalic.eot?#iefix") format("embedded-opentype"),
                    url("HyundaiSansText-BoldItalic.woff2") format("woff2"),
                    url("HyundaiSansText-BoldItalic.woff") format("woff"),
                    url("HyundaiSansText-BoldItalic.ttf") format("truetype");
                    font-weight: normal;
                    font-style: normal;
                    }


                    @font-face {
                        font-family: "HyundaiSansText-Italic";
                        src: url("HyundaiSansText-Italic.eot");
                        src: url("HyundaiSansText-Italic.eot?#iefix") format("embedded-opentype"),
                        url("HyundaiSansText-Italic.woff2") format("woff2"),
                        url("HyundaiSansText-Italic.woff") format("woff"),
                        url("HyundaiSansText-Italic.ttf") format("truetype");
                        font-weight: normal;
                        font-style: normal;
                        }


                        @font-face {
                            font-family: "HyundaiSansText-Medium";
                            src: url("HyundaiSansText-Medium.eot");
                            src: url("HyundaiSansText-Medium.eot?#iefix") format("embedded-opentype"),
                            url("HyundaiSansText-Medium.woff2") format("woff2"),
                            url("HyundaiSansText-Medium.woff") format("woff"),
                            url("HyundaiSansText-Medium.ttf") format("truetype");
                            font-weight: normal;
                            font-style: normal;
                            }


                            @font-face {
                                font-family: "HyundaiSansText-MediumItalic";
                                src: url("HyundaiSansText-MediumItalic.eot");
                                src: url("HyundaiSansText-MediumItalic.eot?#iefix") format("embedded-opentype"),
                                url("HyundaiSansText-MediumItalic.woff2") format("woff2"),
                                url("HyundaiSansText-MediumItalic.woff") format("woff"),
                                url("HyundaiSansText-MediumItalic.ttf") format("truetype");
                                font-weight: normal;
                                font-style: normal;
                                }

                                @font-face {
                                    font-family: "HyundaiSansText-Regular";
                                    src: url("HyundaiSansText-Regular.eot");
                                    src: url("HyundaiSansText-Regular.eot?#iefix") format("embedded-opentype"),
                                    url("HyundaiSansText-Regular.woff2") format("woff2"),
                                    url("HyundaiSansText-Regular.woff") format("woff"),
                                    url("HyundaiSansText-Regular.ttf") format("truetype");
                                    font-weight: normal;
                                    font-style: normal;
                                    }